<fieldset>
	<legend>Document List</legend>
	
	<ul class="docList">
		%docs%
	</ul>
</fieldset>

<br/>

<form action="/admin/docs" method="post">

<fieldset class="pageform">
	
	<legend>Document Editor</legend>
	Use 
	<a href="http://www.google.com/url?q=http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>
	to edit documents.  All documents are stored as .txt files for future
	processing and conversion based on the Markdown syntax.

	<ol>
		<li>
			<label for="docName" title="Please do not use spaces or special chars ._- are allowed">Document Title</label>
			<input type="text" id="docName" name="docName" value="%docName%"/>
		</li>
		<li>
			<div class="docEditorControls"><a href="javascript:;" onclick="detachEditor();" class="detachButton">[Detach Editor]</a></div>
			<div class="docEditor clear">
				<div class="docBody">
					<div class="dragHandle">||</div>
					<textarea id="docBody" name="docBody" cols="90" rows="20">%docBody%</textarea>
				</div>
				<div class="docPreview">%docPreview%</div>
			</div>
		</li>
	</ol>
	<div class="actions">
		<input type="reset"/>
		<input type="submit" value="submit"/>
	</div>
</fieldset>

</form>
