<form action="" method="post">
<fieldset class="pageform">
	<legend>General Settings</legend>
	<ol>
		<li>
			<label for="project.name">Project Name</label>
			<input type="text" id="project.name" name="project.name" value="%projectName%" size="40"/>
		</li>
		<li>
			<label for="project.title">Project Title</label>
			<input type="text" id="project.title" name="project.title" value="%projectTitle%" size="40"/>
		</li>
		<li>
			<label for="project.description">Project Description</label>
			<textarea type="text" id="project.description" name="project.description" cols="60" rows="5">%projectDescription%</textarea>
		</li>
		<li>
			<label for="company.name">Company Name</label>
			<input type="text" id="company.name" name="company.name" value="%companyName%" size="40"/>
		</li>
	</ol>
</fieldset>
</form>
